body {
  margin: 0;
  padding: 0;
}

#headline {
  padding: 0.8em;
  color: white;
  font-family: helvetica, arial, sans-serif;
  background-color: black;
  background-image: url(images/hero-Zimbabwe-coffee-Tanya.jpg);
  background-size: cover;
}

#headline h1 {
  font-weight: 200;
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 0;
}

#headline h2 {
  font-weight: 200;
  font-size: 30px;
  margin-top: 5px;
}

#blurb {
  background-color: rgba(128, 128, 128, 0.6);
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding: 1em;
  margin: 10px;
}

#headline #register {
  background-color: #00b1ac;
  background-color: rgba(57,177, 164, 0.7);
  padding: 1em;
  margin: 10px;
}

#headline #register h2 {
  font-weight: 100;
  padding: 0;
  margin: 0;
}

#headline label {
  font-size: 1em;
  font-weight: 200;
  padding-top: 12px;
  display: block;
}

.triviaSection {
  font-size: 18px;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
}

#register button[type=button] {
  background-color: rgba(29,13,105, 0.85);
  width: 90%;
  color: white;
  margin-top: 10px;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
}

#getNext {
  width: 200px;
}

.button {
  display : block;
  width: 100%;
  color: gray;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px;
  border-color: grey;
  box-sizing: border-box;
  font-size: 18px;
}

.button:hover {
  background-color: rgba(29,13,105, 0.7);
  color: white;
}

#section {
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 18px;
}

#section h2 {
  margin-top: 10px;
}

footer {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #1d0d69;
  background-color: rgba(29,13,105, 0.75);
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

img {
  width: 100%;
  padding: 20px;
  height:auto;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#triviaQuestion {
  padding: 0px;
}

@media screen and (min-width: 600px) {
  .container {
    margin: auto;
    max-width: 750px;
  }

  #headline {
    padding: 20px 5%;
  }

  #headline #blurb {
    float: left;
    font-weight: 200;
    width: 45%;
    font-size: 18px;
    box-sizing: border-box;
  }

  #headline br {
    clear: both;
  }

  #headline #register {
    float: right;
    width: 45%;
    box-sizing: border-box;
    font-weight: 300;
  }

  #section {
    box-sizing: border-box;
    padding: 10px 10% 10px 10%;
  }

  #section br {
    clear:  both;
  }

  img {
    float:left;
    width: 45%;
    padding: 20px 5%;
  }

  .triviaSection  {
    float: right;
    padding-left: 20px 5%;
    padding-right: 20px 5%;
    width: 45%;
    box-sizing: border-box;
    font-weight: 300;
  }
}
